<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create Offer</h4>
        <p class="card-description"> New Offer </p>
    <form (ngSubmit)="onSubmit()" #offerForm="ngForm" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6">
     
      <div class="form-group">
        <label for="discount">Discount</label>
        <input type="number" min="0" id="discount" name="discount" class="form-control" [(ngModel)]="offer.discount" #name="ngModel" required>
      </div>
    </div>
    <div class="col-md-6">

      <div class="form-group">
        <label for="expiry_date">Expiry Date</label>
        <input type="date" id="expiry_date" name="expiry_date" class="form-control" [(ngModel)]="offer.expiry_date" #name="ngModel" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
 
  <div class="form-group">
    <label for="link">Link</label>
    <input type="text" id="link" name="link" class="form-control" [(ngModel)]="offer.link" #name="ngModel" required>
  </div>
</div>
<div class="col-md-6">

  <div class="form-group">
    <label for="code">Code</label>
    <input type="text" id="expiry_date" name="code" class="form-control" [(ngModel)]="offer.code" #name="ngModel">
  </div>
</div>
</div>
  <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          <label for="storeId">Stores</label>
          <select  id="storeId" name="storeId" class="form-control" [(ngModel)]="offer.storeId" #name="ngModel" required>
            <option *ngFor="let store of stores" [value]="store.id">{{ store.enName }}</option>
  
          </select>
        </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" class="form-control" (change)="onFileChange($event)" required>
          </div>
    
    </div>

  </div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label for="isActive" >Is Active</label>
        <input type="checkbox"  id="isActive" name="isActive" [(ngModel)]="offer.isActive" #name="ngModel">
      </div>
</div>
<div class="col-md-6">
 <!-- Image preview -->
 <div *ngIf="imagePreview" class="image-preview">
    <img [src]="imagePreview" alt="Image preview" width="200">
  </div>
  </div>
</div>
<button type="submit" class="btn btn-gradient-danger me-2" [disabled]="offerForm.invalid">Save</button>
<button class="btn btn-light">Cancel</button>  </form>
</div>
</div>
</div> 