
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-capitalize text-center text-danger">Search Data</h4>
     
     <div class="row">
      <div class="col-md-6">
        <input type="text" id="search" class="form-control" placeholder="Search by name"
        [(ngModel)]="name"
        (keyup)="searchData()">
      </div>
      <div class="col-md-3">
       
      </div>
      <div class="col-md-3">
        <button class="btn btn-danger" (click)="deleteAll()">Remove All</button>
      </div>
     </div>
<br>
<div *ngIf="data.length > 0">
  <table class="table table-striped mb-3">
          <thead>
            <tr>
              <th> Name </th>
              <th> Search Date </th>
              <th>Remove</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let search of data">
              <td>{{ search.name }}</td>
              <td>{{ search.searchDate }}</td>

 <td>  <i class="mdi mdi-delete menu-icon text-danger" style="cursor: pointer;" (click)="goToDeleteData(search.id)"></i></td>
            </tr>
          </tbody>
        </table>
      
  <!-- Pagination Controls -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <button class="btn btn-primary btn-sm" [disabled]="pageNumber === 1" (click)="changePage(pageNumber - 1)">Previous</button>
    </li>
    <p class="text-danger m-1"><b>Page {{ pageNumber }} of {{ totalPages }}</b></p>

      <li class="page-item">
        <button class="btn btn-primary btn-sm" [disabled]="pageNumber === totalPages" (click)="changePage(pageNumber + 1)">Next</button>
    </li>
    </ul>
  </nav>
</div>
<div *ngIf="data.length === 0" class="d-flex justify-content-center align-items-center">
  <img src="assets/404/404.gif" style="object-fit: fill;" width="300px"/>
</div> 
    </div>
  </div>
  </div>
 
 


  