<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Update Offer</h4>
      <p class="card-description"> Edit Offer Data</p>
    <form [formGroup]="offerForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6">
    
      <div class="form-group">
        <label for="discount">Discount</label>
        <input type="number" id="discount"class="form-control"
        formControlName="discount">
        <div *ngIf="offerForm.get('discount')?.invalid && offerForm.get('discount')?.touched" class="text-danger">discount is required.</div>
      </div>
    </div>
    <div class="col-md-6">

      <div class="form-group">
        <label for="link">Link</label>
        <input type="text" id="link"class="form-control"
        formControlName="link">
        <div *ngIf="offerForm.get('link')?.invalid && offerForm.get('link')?.touched" class="text-danger">link is required.</div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" class="form-control" (change)="onFileChange($event)" required>
       
      </div>
    </div>
    <div class="col-md-6">

      <div *ngIf="imagePreview" class="image-preview">
        <img [src]="imagePreview" alt="Image preview" width="200">
      </div>
    </div>
  </div>

      <button type="submit" class="btn btn-danger">Save Changes</button>
      <button class="btn btn-light" (click)="cancel()">Cancel</button>

    </form>
  </div>
</div>
</div>